{% extends 'Base.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1" />


<link rel="stylesheet" href="/static/homepage_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
    let boolean = -1; // default value.

    function showTable(container) {
        $.ajax({
            type: 'POST',
            url:  '/Homepage/',
            data: {"csrfmiddlewaretoken": "{{ csrf_token }}",
                   "input": container,
                   "remove_or_add": boolean},

            success: function(data) {


                let Table = document.getElementById("TableBody");
                let tr = "";
                let Queries = data["Data"];

                Table.innerHTML = '';

                for(let row=0; row < Queries.length; row++) {
                    tr += "<tr>";
                    for(let clm=0; clm < Queries[row].length; clm++) {
                        tr += "<td>" + Queries[row][clm] + "</td>";
                    }
                    tr+='</tr>';
                }
                Table.innerHTML += tr;

                boolean = -1; // reset to default value.
           }

        });

    }



    function logOut() {
        $.ajax({
            type: 'GET',
            url: '/Logout/',

            success: function() {
                window.setTimeout(function () {location.href = "/Login/";}, 100);
                console.log("Logout Success.");
            }

        });

    }

    window.onload = showTable('');
</script>

<body style="background-color:rgb(0, 30, 50);">

<p class="title" id="Title">
    Your Notebook
</p>


<table class="display">
    <tbody id="TableBody"></tbody>
</table>



<input class="text_box" id="Text_Box">
<p class='comment' id="Comment"></p>
<button class="add" id="Add"> + </button>
<button class="remove" id="Discard"> x </button>
<button class="logout" id="LogOut" onclick="logOut()">LogOut</button>


<script>
    // Get the elements from the HTML
    const tbox = document.getElementById('Text_Box');
    const positive = document.getElementById("Add");
    const negative = document.getElementById("Discard");
    const comment = document.getElementById("Comment");

    // Hide and clear the elements initially
    tbox.value = '';
    tbox.style.display = 'none';
    comment.style.display = 'none';

    // Add click event listener to the positive button
    positive.addEventListener("click", function(event) {
         if (tbox.style.display === 'none') {
            console.log(1);

            // Show the input box and buttons
            tbox.style.display = 'inline-block';
            comment.style.display = 'inline-block';

            comment.innerText = "Enter task format as 'Task, Deadline'"
            positive.innerText = 'Enter';
            negative.innerText = 'Discard';

            boolean = 1; // added.
            tbox.focus(); // set focus to the input box
        }

        else {
            console.log(2);

            // Hide the input box and buttons
            tbox.style.display = 'none';
            comment.style.display = 'none';

            positive.innerText = '+';
            negative.innerText = 'x';

            // Get the value of tbox and call the showTable() function
            const task = tbox.value.trim();
            if (task !== '') {
                showTable(task);
            }
            tbox.value = ''; // clear the input box
        }
    });

    // Add click event listener to the negative button
    negative.addEventListener("click", function(event) {
         if (tbox.style.display === 'none') {
            console.log(3);

            // Show the input box and buttons
            tbox.style.display = 'inline-block';
            comment.style.display = 'inline-block';

            comment.innerText = "Type priority to be deleted."
            positive.innerText = 'Enter';
            negative.innerText = 'Discard';

            boolean = 0; // removed.
            tbox.focus(); // set focus to the input box
        }

        else {
            console.log(4);

            // Hide the input box and buttons
            tbox.style.display = 'none';
            comment.style.display = 'none';

            positive.innerText = '+';
            negative.innerText = 'x';

            // Get the value of tbox and call the removeTable() function
            const task = tbox.value.trim();
            if (task !== '') {
                showTable(task);
            }
            tbox.value = ''; // clear the input box
        }
    });
</script>
{% endblock %}